*,
*::before,
*::after {
  box-sizing: border-box;
}

/* varibles */

:root {
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.125rem;
  --fs-body1: 1.125rem;
  --fs-body2: 0.9375rem;

  --fw-bold: 700;
  --fw-semi-bold: 600;

  /* primary-colours */
  --clr-midnight-green: #014e56;
  --clr-light-coral: #f67e7e;
  --clr-white: #ffffff;

  /* secondary-colours */

  --clr-rapture-blue: #79c8c7;
  --clr-police-blue: #2c6269;
  --clr-deep-jungle-green: #004047;
  --clr-sacremento-state-green: #012f34;
  --clr-dark-green: #002529;
}

@media (min-width: 550px) {
  :root {
    --fs-h1: 4rem;
  }
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 6.25rem;
    --fs-h2: 3rem;
  }
}

/* general styles */

body {
  font-family: "Livvic", sans-serif;
  color: var(--clr-white);
  background-color: var(--clr-midnight-green);
  font-weight: var(--fw-semi-bold);
}

img {
  display: block;
  max-width: 100%;
}

.nav-open {
  overflow: hidden;
}

/* buttons */

.primary-btn {
  background-color: transparent;
  border-radius: 2em;
  padding: 0.5em 1.8em 0.55em;
  font-size: 1.125rem;
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}

.primary-btn--light {
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
}

.primary-btn--light:hover,
.primary-btn--light:focus {
  color: var(--clr-dark-green);
  background-color: var(--clr-white);
}

.primary-btn--dark {
  color: var(--clr-sacremento-state-green);
  border: 2px solid var(--clr-sacremento-state-green);
}

.primary-btn--mobile-nav {
  margin-top: 2.25em;
}

/* typography */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title--highlight {
  color: var(--clr-light-coral);
}

/* containers */

.header__container,
.intro__container,
.features__container,
.testimonials__container,
.CTA__container,
.footer__container {
  max-width: 1110px;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.header__container {
  margin-top: 3em;
}

.intro__container {
  margin-top: 5em;
  margin-bottom: 12.3125em;
}

.features__container {
  padding-top: 4em;
  padding-bottom: 4em;
}

.testimonials__container {
  margin-top: 8.75em;
  margin-bottom: 10.25em;
}

.CTA__container {
  padding-top: 5.1875em;
  padding-bottom: 5.1875em;
}

.footer__container {
  margin-top: 4em;
  margin-bottom: 4em;
}

@media (min-width: 550px) {
  .header__container,
  .intro__container,
  .features__container,
  .testimonials__container,
  .CTA__container,
  .footer__container {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .header__container {
    margin-top: 4em;
  }

  .intro__container {
    margin-top: 7em;
    margin-bottom: 16em;
  }

  .features__container {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }

  .testimonials__container {
    margin-top: 6.25em;
    margin-bottom: 6.25em;
  }

  .CTA__container {
    padding-top: 4.75em;
    padding-bottom: 4.75em;
  }

  .footer__container {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
  }
}

@media (min-width: 800px) {
  .header__container {
    margin-top: 4.5em;
  }

  .intro__container {
    margin-top: 8.125em;
  }

  .features__container {
    padding-top: 8.75em;
    padding-bottom: 8.75em;
  }

  .testimonials__container {
    margin-top: 8.75em;
    margin-bottom: 8.75em;
  }

  .footer__container {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

@media (min-width: 1200px) {
  .header__container,
  .intro__container,
  .features__container,
  .testimonials__container,
  .CTA__container,
  .footer__container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 8em;
}

.nav-toggle {
  z-index: 1000;
  position: absolute;
  right: 1.5em;
  top: 3em;
  cursor: pointer;
  padding: 0.5em;
  border: 0;
  background: transparent;
}

.nav {
  position: fixed;
  background-color: var(--clr-police-blue);
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: bottom right 1.25em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);

  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__container {
  margin-top: 7em;
  margin-left: 3em;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-top: 1.5em;
}

.nav__link {
  color: inherit;
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--clr-light-coral);
}

.nav__close-btn {
  display: none;
}

.nav-open .nav__hamburger {
  display: none;
}

.nav-open .nav__close-btn {
  display: block;
}

.nav-open .nav {
  transform: translateX(7.5em);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 100;
}

@media (min-width: 550px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    position: static;
    background: none;
    z-index: 100;
    transform: none;
    width: 100%;
  }

  .nav__container,
  .nav__list,
  .primary-btn--mobile-nav,
  .nav__item {
    margin: 0;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: flex;
    margin-left: 3em;
  }

  .nav__item:last-child {
    margin-left: 2.5em;
  }
}

@media (min-width: 800px) {
  .nav__list {
    margin-left: 5em;
  }
}

/* intro */

.intro {
}

/* features */

.features {
  background-color: var(--clr-sacremento-state-green);
}

/* testimonials */

.testimonials {
}

/* CTA */

.CTA {
  background-color: var(--clr-light-coral);
  color: var(--clr-sacremento-state-green);
}
